body {
  font-family: "PT Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
  font-weight: 300;
  text-transform: uppercase;
}

#editor {
  font-size: 1.1rem;
}

#image {
  background-color: #000;
}

#image img {
  width: 100%;
  object-fit: cover;
}
