package view

templ Home() {
	<div class="uk-flex uk-background-muted uk-height-viewport uk-padding-small" style="gap: 15px;">
		<div class="uk-flex-1 uk-background-secondary" id="editor"></div>
		<div class="uk-flex-1 uk-background-default"></div>
	</div>
}
